#forgotpass{
    float: right;
    clear: both;
}
#registerWrapper{

    margin-top:20px; 
}
.hr{
    background: #9ea7a7;
    position: relative;
    margin-top: -13px;
    height: 3px;
    z-index: -1;
    }
    
.inlineHrText{
background:#ffffff;
display:inline;
padding-right:20px;
padding-left: 20px;
}
#myControl {
    box-sizing: border-box;
    clear: both;
    font-size: 1rem;
    position: relative;
    text-align: center;
    margin-top: 25px;
}
/* .button.is-warning{} i can add new stuff and it will not overwrite the parent class */
.button.is-warning:hover{
    background-color: #fdcc06;
}

