<section class="hero is-medium">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns is-centered">
        <div class="column is-one-third">
          <div *ngIf="successShown" class="notification is-success">
            Login successful
          </div>
          <div *ngIf="errorShown" class="notification is-danger">
            Your login request failed :(
          </div>
          <div class="field">
            <label class="label">Email</label>
            <div class="control">
              <input class="input" type="email" [(ngModel)]="email" placeholder="john.doe@email.com" name="email">
            </div>
          </div>
          <div class="field">
            <label class="label">Password</label>
            <div class="control">
              <input class="input" type="password" [(ngModel)]="password" placeholder="Your password" name="password">
            </div>
          </div>
          <div class="control">
            <button class="button is-primary" (click)="onClickLogin()">Login</button>
            <div id="forgotpass">
              <button class="button is-danger is-outlined">Forgot password?</button>
            </div>
          </div>
          <div id="registerWrapper">
            <h2 class="inlineHrText">No account?</h2>
            <div class="hr">&nbsp;</div>
          </div>
          <div id="myControl">
            <button class="button is-warning" (click)="onClickRegister()">Register</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>