<section class="hero is-medium">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-one-third">
                    <div *ngIf="successShown" class="notification is-success">
                        Registration successful
                    </div>
                    <div *ngIf="errorShown" class="notification is-danger">
                        Your register request failed :(
                    </div>
                    <div class="field">
                        <label class="label">Username</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input" [(ngModel)]="username" name="username" type="text"
                                placeholder="myuser">
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                            <span class="icon is-small is-right">
                                <i class="fas fa-check"></i>
                            </span>
                        </div>
                        <!-- <p class="help is-success">This username is available</p> -->
                    </div>

                    <!--validation for email (only first field, checks if @ + some other crap in that regex)-->

                    <div *ngIf="validMail;then validMailTemplate else notvalidMailTemplate">
                    </div>

                    <ng-template #validMailTemplate>
                        <div class="field">
                            <label class="label">Email</label>
                            <div class="control has-icons-left has-icons-right">
                                <input class="input is-success" (focusout)="filterMail()" [(ngModel)]="email"
                                    name="email" type="email" placeholder="Email@mail.com">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-envelope"></i>
                                </span>
                                <span class="icon is-small is-right">
                                    <i class="fas fa-exclamation-triangle"></i>
                                </span>
                            </div>
                            <p class="help is-success">This email is valid</p>
                        </div>
                    </ng-template>

                    <ng-template #notvalidMailTemplate>
                        <div class="field">
                            <label class="label">Email</label>
                            <div class="control has-icons-left has-icons-right">
                                <input class="input is-danger" (focusout)="filterMail()" [(ngModel)]="email"
                                    name="email" type="email" placeholder="Email@mail.com">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-envelope"></i>
                                </span>
                                <span class="icon is-small is-right">
                                    <i class="fas fa-exclamation-triangle"></i>
                                </span>
                            </div>
                            <p class="help is-danger">This email is invalid</p>
                        </div>
                    </ng-template>
                    <!---------------->

                    <!--validation for retype email (checks if emails match)-->

                    <div *ngIf="confMails;then validReMailTemplate else notvalidReMailTemplate">
                    </div>

                    <ng-template #validReMailTemplate>
                        <div class="field">
                            <label class="label">Retype Email</label>
                            <div class="control has-icons-left has-icons-right">
                                <input class="input is-success" (focusout)="checkBothMails()" [(ngModel)]="retypeemail"
                                    name="retypeemail" type="email" placeholder="Email@mail.com">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-envelope"></i>
                                </span>
                                <span class="icon is-small is-right">
                                    <i class="fas fa-exclamation-triangle"></i>
                                </span>
                            </div>
                            <p class="help is-success">Emails match</p>
                        </div>
                    </ng-template>

                    <ng-template #notvalidReMailTemplate>
                        <div class="field">
                            <label class="label">Retype Email</label>
                            <div class="control has-icons-left has-icons-right">
                                <input class="input is-danger" (focusout)="checkBothMails()" [(ngModel)]="retypeemail"
                                    name="retypeemail" type="email" placeholder="Email@mail.com">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-envelope"></i>
                                </span>
                                <span class="icon is-small is-right">
                                    <i class="fas fa-exclamation-triangle"></i>
                                </span>
                            </div>
                            <p class="help is-danger">Emails don't match</p>
                        </div>
                    </ng-template>
                    <!--------------->

                    <!--validation for password(only first field ,specials chars etc.)-->

                    <div *ngIf="validPass;then validPassTemplate else notvalidPassTemplate">
                    </div>

                    <ng-template #validPassTemplate>
                        <div class="field">
                            <label class="label">Password</label>
                            <p class="control has-icons-left">
                                <input class="input is-success" (focusout)="filterPass()" [(ngModel)]="password"
                                    name="password" type="password" placeholder="Password">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </p>
                            <p class="help is-success">This password is valid</p>
                        </div>
                    </ng-template>

                    <ng-template #notvalidPassTemplate>
                        <div class="field">
                            <label class="label">Password</label>
                            <p class="control has-icons-left">
                                <input class="input is-danger" (focusout)="filterPass()" [(ngModel)]="password"
                                    name="password" type="password" placeholder="Password">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </p>
                            <p class="help is-danger">This password is not valid</p>
                        </div>
                    </ng-template>

                    <!------------------>

                    <!--validation for retype password(if both match)-->
                    <div *ngIf="confPass;then validRePass else notvalidRePass">
                    </div>
                    <ng-template #validRePass>
                        <div class="field">
                            <label class="label">Retype password</label>
                            <p class="control has-icons-left">
                                <input class="input is-success" (focusout)="checkBothPass()" [(ngModel)]="retypepass"
                                    name="retypepass" type="password" placeholder="Password">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </p>
                            <p class="help is-success">Passwords matches</p>
                        </div>
                    </ng-template>

                    <ng-template #notvalidRePass>
                        <div class="field">
                            <label class="label">Retype password</label>
                            <p class="control has-icons-left">
                                <input class="input is-danger" (focusout)="checkBothPass()" [(ngModel)]="retypepass"
                                    name="retypepass" type="password" placeholder="Password">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </p>
                            <p class="help is-danger">Passwords don't match</p>
                        </div>
                    </ng-template>
                    <!---------------->

                    <div class="field">
                        <label class="label">Secret question</label>
                        <div class="control">
                            <div class="select">
                                <select [(ngModel)]="secretQ" name="secretQ">
                                    <option>Your first car brand?</option>
                                    <option>Your favourite football team?</option>
                                    <option>What is your pet name?</option>
                                    <option>Your favourite video game?</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Answear</label>
                        <div class="control">
                            <input class="input" [(ngModel)]="secretA" name="secretA" type="text"
                                placeholder="your answear">
                        </div>
                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-link" (click)="onClickRegister()">Submit</button>
                        </div>
                        <div class="control">
                            <button class="button is-text" (click)="backToLogin()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>