<div class="columns">
  <div class="column is-one-fifth">
    <div class="menu">
      <p class="menu-label">Lists</p>
      <ul class="menu-list">
        <li *ngFor="let list of lists" (click)="onClick(list)">
          <a [class.is-active]="list === selectedList">{{ list.name }}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="column">
    <app-list-detail *ngIf="selectedList" [list]="selectedList"></app-list-detail>
  </div>
</div>